/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* body {
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
} */

h1{
  font-size: 3.2em;
  line-height: 1.1;
  color: whitesmoke;
  text-align: center;
  background-color: teal;

}

.card{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  font-weight: 500;
  color:#088178;


}

.img{
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.button{
  background-color: #00b7ff;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

nav {
  position: static;
  top:0;
  right:0;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  border: 3px solid white;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.03);
  
  

}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  margin-right: 50px;
}
nav ul li a {
  color: grey;
  text-decoration: none;
}
nav ul li a:hover {
  color: black;
}

footer {
  font-style: italic;
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
footer ul li{
  display: inline;
  margin-right: 50px;
}





/* p{
  text-align: center;
}
#cat-p .pro-cont{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap:wrap;
}
#cat-p .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#cat-p .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#cat-p .pro img{
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
#cat-p .pro .des{
  text-align: start;
  padding: 10px 0;
}
#cat-p .pro .des span{
  color: #060663;
  font-size: 12px;
  }
  #cat-p .pro .des h5 h6{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }
  #cat-p .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
  }
  #cat-p .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  #cat-p .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color:#088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    } */

/* 
    body {
      font-family: verdana, sans-serif;
      margin: 0;
      padding: 0;
     
     
  }
  header {
      font-family: didot;
      
      font-size: 30px;
      background-color: whitesmoke;
      
      background-size: cover;
      background-position: top 30% right 0;
      color: rgba(57, 56, 56, 0.893);
      padding: 10px 20px;
      
      
  }
  header #h1{
      display: flex;
      
      align-items: flex-start;
      justify-content: space-between;
  }
  
  header #top{
      display: flex;
      
      align-items: flex-start;
      justify-content: space-between;
  }
  header #search{
      padding-top: 50px;
      
      
  }
  ul li {
      display: inline;
      margin-right: 50px;
  
  }
  
  ul li:hover{
      color: blue;
  }
  nav {
      position: static;
      top:0;
      right:0;
      background-color: white;
      padding: 10px 20px;
      text-align: center;
      border: 3px solid white;
      box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.03);
      
      
  
  }
  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  nav ul li {
      display: inline;
      margin-right: 50px;
  }
  nav ul li a {
      color: grey;
      text-decoration: none;
  }
  nav ul li a:hover {
      color: black;
  }
  footer {
      font-style: italic;
      background-color: grey;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
  }
  main{
      background-color: hsl(210, 24%, 93%);
      background-size: cover;
      background-repeat: no-repeat;
      color: greyblack;
      padding: 15px 20px;
      text-align: center;
      flex: 1 0 auto;
      
      
     
      margin:5px;
  }
  .gallery{
     
      width:23%;
      min-width: 250px;
      padding: 10px 12px;
      box-shadow: 20px 20px 34px rgb(0,0,0,0.03);
      border: 1px solid #cce7d0;
      border-radius: 25px;
      margin: 15px 0;
      cursor: pointer;
      position: relative;
     
  
  
  
  }
  .gallery:hover{
      box-shadow: 20px 20px 34px rgb(0,0,0,0.06);
  
  }
  
  .gallery img{
      width: 250px;
      height: 250px;
      border-radius: 20px;
  
  }
  
  .gallery .des{
      text-align: start;
      padding: 10px 0;
  }
  .gallery .des i{
      font-size: 12px;
      color: rgb(243,181,25);
    }
  .gallery .des span{
      color: #060663;
      font-size: 12px;
      }
  .gallery .des h5 h6{
      padding: 7px;
      color: #1a1a1a;
      font-size: 14px;
    }
    .gallery .des h4{
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #088178;
    }
    .gallery .cart{
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      font-weight: 500;
      color:#088178;
      border: 1px solid #cce7d0;
      position: absolute;
      bottom: 20px;
      right: 10px;
      }
  .product-div{
      display: flex; 
      padding: 20px;
      flex-wrap: wrap; 
      justify-content: space-between; 
  }
  
  .search-input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 500px;
  }
  
  .search-button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      height: 40px;
      cursor: pointer;
    }
  
    .images{
      display:flex; 
      flex-wrap: wrap; 
      justify-content: center;
  
    }
    #prods{
      text-align: center;
  
    } */
  
  